
  <title>Login - Forum Web Application</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/login.css">
  <script src="static/js/login.js"></script>


    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
        </div>

        <div class="login-input-container">
            <div class="login-header">
            <h2></h2>
            </div>
            <form id="login-form" action ="/login" method = "post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>



            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div id="remember-container">
                    
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember"> Remember me
                </label>
                </div>
                <p><a href="/reset">Reset password</a></p>
                <p>Don't have an account? <a href="/register">Sign up</a>.</p>
            <button type="submit" id ="loginBtn">Login</button>
            <p> Didn't mean to login? <a href="/home">Cancel</a>.</p>
            </form>
        </div>
    </div>