<title>Sign Up - Forum Web Application</title>
<link rel="stylesheet" type="text/css" href="static/stylesheets/register.css">
<script src="static/js/register.js"></script>

<div class="container">
    <div class="signup-container">
        <h2>Sign Up</h2>
    </div>

    <div class="register-container">
        <div class="register-header">
        
        </div>
        <form id="register-form" action="/make-user" method="post">
            <label for="realname">Name:</label>
            <input type="text" id="realname" name="realname" required>

            <label for="email">Email:</label> 
            <input type="email" id="email" name="email" required> 

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="username">Username:</label> 
            <input type="text" id="username" name="username" required> 

            <label for="sq1">Security question 1: </label>
            <select name="sq1" id="sq1">
                {{#each sqones}} {{>sq_opts this}} {{/each}}
            </select>
            <label for="a1">Answer: </label>
            <input type="text" id="a1" name="a1" required> 
            <label for="sq2">Security question 2: </label>
            <select name="sq2" id="sq2">
                {{#each sqtwos}} {{>sq_opts this}} {{/each}}
            </select>
            <label for="a2">Answer: </label>
            <input type="text" id="a2" name="a2" required> 


            <button type="submit" id="registerBtn">Register</button>
            <p>Didn't mean to register? <a href="/home">Cancel</a>.</p>
            <p id="errorm"></p>
        </form>
    </div>
</div>
